<%- include('../partials/header.ejs') %>

	<body>
		<h1>Update Appointment</h1>
		<br>
		<form action='/appts/<%= appt._id%>?_method=PUT' method='POST'>
			<table id="reviewForm2">
				<thead>
					<tr>
						<th>Stylist</th>
						<th>Service</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select name="stylist">
								<option value="Jessica">Jessica</option>
								<option value="Chloe">Chloe</option>
								<option value="Miamor">Miamor</option>
							</select>
						</td>
						<td>
							<select name="service">
                                <option value="Extensions">Extensions</option>
                                <option value="Box Braids">Box Braids</option>
                                <option value="Wash and Style">Wash and Style</option>
                                <option value="Full Color">Full Color</option>
                                <option value="Microlinks">Microlinks</option>
                                <option value="Hair Cut">Hair Cut</option>
                                <option value="Kids Style">Kids Style</option>
                                <option value="Wash/Style">Wash/Style</option>
                                <option value="Kids Wash/Style">Kids Wash/Style</option>
                                <option value="Basic Style">Basic Style</option>
                                <option value="Partial Color">Partial Color</option>
                                <option value="Consultation">Consultation</option>
							</select>
						</td>
						<td>
							<input type="datetime-local" name="date" value="2021-03-22T15:30" min="2021-03-22T00:00" max="2022-03-22T00:00"> </td>
						<br> </tbody>
			</table>
			<label>Is there anything you would like your stylist to know?</label>
			<br>
			<textarea name="comment" row="4" style="width: 18rem;">
				<% appt.description %>
			</textarea>
			<br>
			<input type="submit" value="Submit" /> </form>
		</form>
	</body>

	</html>