@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic);



html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: border-box;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background: rgb(255,142,142);
background: radial-gradient(circle, rgba(255,142,142,0.29175420168067223) 0%, rgba(255,185,198,1) 100%);
  overflow-x: hidden;
	font: 400 16px/1.8 'Crimson Text', serif;
 text-align: center;
    
}

h1 {
  font: 700 50px/1.2 'Dancing Script', cursive;
}



main {
  display: flex;
  align-items: center;
  justify-content: center;
}


.table {
	color: rgb(36, 36, 36);
	background-color: rgb(245, 245, 245);
}

thead {
	border-top: none;
}


/*Stylist Cards*/

.container{
  width: 1000px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0px;
}

.box{
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}

.box .imgBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBox img{
  opacity: 0;
}

.box .content{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: rgba(255, 255, 255, 0.872);
  transition: 0.5s;
  overflow: hidden;

}

.box:hover .content{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box .content h3{
  font-size: 24px;
}

.box:hover .content h3{
  display: none;
}

.intro{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .content .hover-card{
  opacity: 0;
  transition: 0.5s;
}

.box:hover .content .hover-card{
  opacity: 1;
  transition-delay: 0.5s;
}

.profile h2{
  margin-top: 30px;
  color: #000;
}

.profile h2, h4{
  text-align: center;
}

.profile p{
  padding: 10px;
  font-size: 18px;
  text-align: justify;
  margin-top: 50px;
}

.social{
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
}

.social i{
  font-size: 22px;
}

.animate__animated, .animate__backInRight {
  text-align: center;
}




/*Review*/
#reviewForm {
  width: auto;
  margin: auto;
  max-width: 500px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px  rgba(0, 0, 0, 0.2);
}

div.reviewLocation{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 11px;
  margin-top: 30px;
  max-width: 500px;
  width: auto;
  margin: auto;
  box-shadow: 0 10px 10px 10px  rgba(0, 0, 0, 0.2);

  
 
}

#reviewForm{
  padding: 10px; 
}

#reviewForm2{
  width: auto;
  margin: auto;
  max-width: 500px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px  rgba(0, 0, 0, 0.2); 
}

#reviewForm input, textarea{
  margin-top: 10px;

} 
#reviewForm label, #reviewRating{
  font-size: 30px;

}



/*Video Background on homepage*/


.hero {
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-animation: slide 40s ease;
  transform: translate3d(0,0,0);
  height: 100vh;
}

.hero:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hero__content {
  z-index: 101;
  position: relative;
}

@-webkit-keyframes slide {
  0%   { background-position: left; }
  50%   { background-position: right; }
  100% { background-position: left; }
}

.hero h1 {
  font-weight: 100;
  color: white;
  font: 700 50px/1.2 'Dancing Script', cursive;
}

.hero__content {
    padding: 200px 100px;
    max-width: 310px;
}

.btn {
  background: #4C384B;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 9px;
  font-size: 20px;
}

@media only screen and (max-width: 960px){
  .container{
      flex-direction:column;
      justify-content: space-between;
      align-items: center;
  }
  .box{
      margin: 30px;
  }
}


/* video background on reviews */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reviewsBody {
  height: 100vh;
  display: grid;
  
  font-family: "Nunito", sans-serif;

  --primary: #2c2c2c;
  --blue: #14b0ee;
}





#videoBkg {
  position: fixed;
  z-index: -1;
}

.hero-section {
  position: absolute;
  top: 30%;
  left: 12%;
  
  z-index: 10;
  margin:auto
}
.hero-section > * {
  transform: translateY(80px);
  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
}
.hero-section h1 {
  font-size: 5rem;
}
.hero-section p {
  font-size: 1.2rem;
  margin: 4em 0 2em 0;
  line-height: 30px;
}
.hero-section p strong {
  color: var(--blue);
}
.hero-section button {
  border: 2px solid var(--primary);
  padding: 1em 1.2em;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-section button:hover {
  background-color: var(--blue);
  color: #ffffff;
  border: 2px solid var(--blue);
}

.hero-section h1:nth-child(2) {
  animation-delay: 0.2s;
}
.hero-section h1:nth-child(3) {
  animation-delay: 0.5s;
}
.hero-section h1:nth-child(4) {
  animation-delay: 0.8s;
}
.hero-section p {
  animation-delay: 1s;
}
.hero-section button {
  animation-delay: 1.2s;
}


/* MEDIA QUERIES for video background
----------------------------------------- */
@media (min-aspect-ratio: 16/9) {
  #videoBkg {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBkg {
    width: auto;
    height: 100%;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */


@media (max-width: 767px) {

	.menu-title,
	.menu-detail,
	.menu-price-detail {
		text-align: center;
	}

@media (max-width: 568px) {

	h1 {
    font: 700 50px/1.2 'Dancing Script', cursive;
  } 
    h2, h3, h4, h5, h6 {
		font: 700 38px/1.2 'Crimson Text', serif;
		margin: 0 0 20px;
		color: #000;
	}

	h2 {
		font-size: 30px;
		margin: 0 0 18px;
	}

	h3 {
		font-size: 24px;
		margin: 0 0 15px;
	}

	h4 {
		font-size: 20px;
		margin: 0 0 10px;
	}

	h5 {
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 8px;
	}

	h6 {
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 5px;
	}



